In [ ]:
#Decision Tree

In [2]:
#Importing Required Libraries
import pandas as pd
import sklearn as sklearn
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from six import StringIO
from sklearn.tree import export_graphviz
import graphviz
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.metrics import confusion_matrix,classification_report

In [3]:
#Extracting the data from .csv file
data = pd.read_csv('CE802_P2_Data.csv')
data

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,Class
0,16.77,1.25,1080,4.04,20,30.36,-7.24,112.86,9.00,7.74,-15.70,-36.32,26.10,-184.14,NaN,False
1,12.45,1.63,156,-6.98,2,21.52,1.20,105.86,0.43,10.11,-25.06,-23.32,2.55,-208.14,NaN,True
2,0.06,1.09,855,6.08,20,33.76,-9.06,262.86,9.15,6.01,-14.40,-36.32,26.25,-394.14,-6.67,False
3,1.80,2.04,435,1.72,20,31.96,-8.30,157.86,5.35,6.15,-17.64,-36.32,17.25,-64.14,NaN,False
4,15.45,1.38,195,-8.70,2,21.10,-0.06,112.86,1.37,10.26,-27.50,-23.32,2.01,-250.14,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,15.87,0.74,18,-5.58,2,20.52,-0.64,104.86,1.77,10.86,-27.20,-25.32,1.68,-163.14,NaN,True
1496,17.19,2.61,39,-3.56,2,21.40,0.92,116.86,0.18,10.04,-24.74,-23.32,1.29,-229.14,NaN,False
1497,12.69,2.14,30,-3.36,2,21.30,2.40,74.86,0.37,9.95,-25.02,-23.32,1.35,-268.14,NaN,True
1498,6.63,-0.75,855,4.86,20,33.66,-9.50,182.86,14.00,7.78,-22.52,-46.32,16.80,70.86,-6.22,False
1499,1.71,0.47,225,4.38,20,31.56,-5.60,302.86,8.35,6.04,-17.06,-36.32,25.65,-424.14,-6.29,False

In [4]:
#Replacing the missing values using mean of the existing value
data.fillna(data.mean(),inplace=True)
data

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,Class
0,16.77,1.25,1080,4.04,20,30.36,-7.24,112.86,9.00,7.74,-15.70,-36.32,26.10,-184.14,-7.743013,False
1,12.45,1.63,156,-6.98,2,21.52,1.20,105.86,0.43,10.11,-25.06,-23.32,2.55,-208.14,-7.743013,True
2,0.06,1.09,855,6.08,20,33.76,-9.06,262.86,9.15,6.01,-14.40,-36.32,26.25,-394.14,-6.670000,False
3,1.80,2.04,435,1.72,20,31.96,-8.30,157.86,5.35,6.15,-17.64,-36.32,17.25,-64.14,-7.743013,False
4,15.45,1.38,195,-8.70,2,21.10,-0.06,112.86,1.37,10.26,-27.50,-23.32,2.01,-250.14,-7.743013,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,15.87,0.74,18,-5.58,2,20.52,-0.64,104.86,1.77,10.86,-27.20,-25.32,1.68,-163.14,-7.743013,True
1496,17.19,2.61,39,-3.56,2,21.40,0.92,116.86,0.18,10.04,-24.74,-23.32,1.29,-229.14,-7.743013,False
1497,12.69,2.14,30,-3.36,2,21.30,2.40,74.86,0.37,9.95,-25.02,-23.32,1.35,-268.14,-7.743013,True
1498,6.63,-0.75,855,4.86,20,33.66,-9.50,182.86,14.00,7.78,-22.52,-46.32,16.80,70.86,-6.220000,False
1499,1.71,0.47,225,4.38,20,31.56,-5.60,302.86,8.35,6.04,-17.06,-36.32,25.65,-424.14,-6.290000,False

In [ ]:
#Obtaining Class values
y= data.iloc[:,-1]
type(y)

In [ ]:
#Changing the type of y to DataFrame
y =pd.DataFrame(y)
#y.reset_index(drop=True)
type(y)

In [ ]:
#Obtaining feature values from F1 to F15
x=data.iloc[:,:-1]
type(x)

In [ ]:
print(x.shape)
print(y.shape)

In [ ]:
#Splitting the data into test and train
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.22, random_state=42)

In [ ]:
#Feature Scaling
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [ ]:
from sklearn import tree

In [ ]:
#Creating a instance of Decision tree classifier
clf = tree.DecisionTreeClassifier()
clf

In [ ]:
#Training the model using train data
clf = clf.fit(X_train, y_train)

In [ ]:
#Predicting the output for X_test
dec_y_pred = clf.predict(X_test)
dec_y_pred.shape

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
y_train.values.flatten()
y_train.shape

In [ ]:
#Finding the accuracy score
print('Accuracy Score:', accuracy_score(y_test,dec_y_pred))

In [ ]:
# Plotting Confusion Matrix

In [ ]:
cm = metrics.confusion_matrix(y_test, dec_y_pred)
print(cm)

In [ ]:
class_names=[0,1] # name  of classes
fig, ax = plt.subplots()
tick_marks = np.arange(len(class_names))
plt.xticks(tick_marks, class_names)
plt.yticks(tick_marks, class_names)
# create heatmap
sns.heatmap(pd.DataFrame(cm), annot=True, cmap="YlGnBu" ,fmt='g')
ax.xaxis.set_label_position("top")
plt.tight_layout()
plt.title('Confusion matrix', y=1.1)
plt.ylabel('Actual label')
plt.xlabel('Predicted label')

In [ ]:
print(classification_report(y_test, dec_y_pred))

In [ ]:
#Logistic Regression

In [ ]:
#Importing Required Libraries
import pandas as pd
import sklearn as sklearn
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.metrics import confusion_matrix,classification_report

In [ ]:
#Extracting the data from .csv file
data = pd.read_csv('CE802_P2_Data.csv')

In [ ]:
#Replacing the missing values using mean of the existing value
data.fillna(data.mean(),inplace=True)
data

In [ ]:
#Obtaining Class values
y= data.iloc[:,-1:]
y

In [ ]:
#Obtaining feature values from F1 to F15
x=data.iloc[:,:-1]
x

In [ ]:
print(x.shape)
print(y.shape)

In [ ]:
#Splitting the data into test and train
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [ ]:
#Feature Scaling
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
#Creating a instance of Logistic regression classifier
lr = LogisticRegression()

In [ ]:
#Training the model using train data
lr.fit(X_train, y_train)

In [ ]:
#Predicting the output for X_test
logi_y_pred = lr.predict(X_test)

In [ ]:
#Finding the accuracy score
print('Accuracy Score:', accuracy_score(y_test, logi_y_pred))

In [ ]:
# Plotting Confusion Matrix

In [ ]:
cm = metrics.confusion_matrix(y_test, logi_y_pred)
print(cm)

In [ ]:
class_names=[0,1] # name  of classes
fig, ax = plt.subplots()
tick_marks = np.arange(len(class_names))
plt.xticks(tick_marks, class_names)
plt.yticks(tick_marks, class_names)
# create heatmap
sns.heatmap(pd.DataFrame(cm), annot=True, cmap="YlGnBu" ,fmt='g')
ax.xaxis.set_label_position("top")
plt.tight_layout()
plt.title('Confusion matrix', y=1.1)
plt.ylabel('Actual label')
plt.xlabel('Predicted label')

In [ ]:
print(classification_report(y_test, logi_y_pred))

In [ ]:
#Random Forest

In [ ]:
#Importing Required Libraries
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import sklearn as sklearn
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.metrics import confusion_matrix,classification_report

In [ ]:
#Extracting the data from .csv file
data = pd.read_csv('CE802_P2_Data.csv')
data

In [ ]:
#Replacing the missing values using mean of the existing value
data.fillna(data.mean(),inplace=True)
data

In [ ]:
#Obtaining Class values
y= data.iloc[:,-1].to_numpy()
y =pd.DataFrame(y)

In [ ]:
#Obtaining feature values from F1 to F15
x=data.iloc[:,:-1].to_numpy()
x

In [ ]:
print(x.shape)
print(y.shape)

In [ ]:
#Splitting the data into test and train
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.22, random_state=42)

In [ ]:
#Feature Scaling
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
#Creating a instance of Random forest classifier
clf=RandomForestClassifier()
#Training the model using train data
clf.fit(X_train, y_train)

In [ ]:
#Predicting the output for X_test
rand_y_pred = clf.predict(X_test)

In [ ]:
clf.score(X_train, y_train)

In [ ]:
#Reshaing the y_test 
rand_y_pred = rand_y_pred.reshape(-1,1)

In [ ]:
y_test.shape

In [ ]:
#Finding the accuracy score
print('Accuracy Score:', accuracy_score(y_test,rand_y_pred))

In [ ]:
cm = metrics.confusion_matrix(y_test, rand_y_pred)
print(cm)

In [ ]:
class_names=[0,1] # name  of classes
fig, ax = plt.subplots()
tick_marks = np.arange(len(class_names))
plt.xticks(tick_marks, class_names)
plt.yticks(tick_marks, class_names)
# create heatmap
sns.heatmap(pd.DataFrame(cm), annot=True, cmap="YlGnBu" ,fmt='g')
ax.xaxis.set_label_position("top")
plt.tight_layout()
plt.title('Confusion matrix', y=1.1)
plt.ylabel('Actual label')
plt.xlabel('Predicted label')

In [ ]:
print(classification_report(y_test, rand_y_pred))

In [5]:
#Random forest is the best method

In [4]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import sklearn as sklearn
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.metrics import confusion_matrix,classification_report

In [6]:
#Predicting the whole output

In [7]:
#Extracting the test from .csv file
data = pd.read_csv('CE802_P2_Data.csv')
data

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,Class
0,16.77,1.25,1080,4.04,20,30.36,-7.24,112.86,9.00,7.74,-15.70,-36.32,26.10,-184.14,NaN,False
1,12.45,1.63,156,-6.98,2,21.52,1.20,105.86,0.43,10.11,-25.06,-23.32,2.55,-208.14,NaN,True
2,0.06,1.09,855,6.08,20,33.76,-9.06,262.86,9.15,6.01,-14.40,-36.32,26.25,-394.14,-6.67,False
3,1.80,2.04,435,1.72,20,31.96,-8.30,157.86,5.35,6.15,-17.64,-36.32,17.25,-64.14,NaN,False
4,15.45,1.38,195,-8.70,2,21.10,-0.06,112.86,1.37,10.26,-27.50,-23.32,2.01,-250.14,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,15.87,0.74,18,-5.58,2,20.52,-0.64,104.86,1.77,10.86,-27.20,-25.32,1.68,-163.14,NaN,True
1496,17.19,2.61,39,-3.56,2,21.40,0.92,116.86,0.18,10.04,-24.74,-23.32,1.29,-229.14,NaN,False
1497,12.69,2.14,30,-3.36,2,21.30,2.40,74.86,0.37,9.95,-25.02,-23.32,1.35,-268.14,NaN,True
1498,6.63,-0.75,855,4.86,20,33.66,-9.50,182.86,14.00,7.78,-22.52,-46.32,16.80,70.86,-6.22,False
1499,1.71,0.47,225,4.38,20,31.56,-5.60,302.86,8.35,6.04,-17.06,-36.32,25.65,-424.14,-6.29,False

In [8]:
#Obtaining Class values
b_train= data.iloc[:,-1:]
b_train

      Class
0     False
1      True
2     False
3     False
4      True
...     ...
1495   True
1496  False
1497   True
1498  False
1499  False

[1500 rows x 1 columns]

In [22]:
#Obtaining feature values from F1 to F15
a_train=data.iloc[:,:-1]
#Replacing the missing values using mean of the existing value
a_train.fillna(data.mean(),inplace=True)
a_train.shape

(1500, 15)

In [11]:
#Extracting the test data from .csv file
test = pd.read_csv('CE802_P2_Test.csv')
test

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,Class
0,3.54,0.45,600,2.16,20,33.86,-4.16,207.86,8.30,6.64,-17.68,-36.32,16.80,-49.14,-6.81,NaN
1,12.96,4.50,6,-5.42,2,21.22,-0.66,115.86,1.95,10.19,-24.32,-21.32,0.06,-229.14,-7.10,NaN
2,13.02,2.74,81,-7.08,2,21.28,1.40,111.86,2.05,11.30,-34.98,-21.32,0.42,-217.14,-7.05,NaN
3,14.91,1.00,162,-8.30,2,21.12,-0.42,85.86,0.96,10.16,-24.68,-25.32,0.42,-202.14,NaN,NaN
4,2.61,1.46,1020,4.66,20,30.66,-0.46,122.86,7.20,7.04,-16.86,-26.32,20.25,-289.14,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,18.93,1.34,72,-5.20,2,21.64,0.44,116.86,0.55,10.18,-26.50,-21.32,1.98,-232.14,-8.14,NaN
1496,0.63,-0.51,225,5.38,20,31.26,-9.40,77.86,9.80,6.26,-15.06,-36.32,22.35,-244.14,-8.32,NaN
1497,14.25,0.58,3,-3.74,2,21.28,0.78,78.86,0.33,10.96,-27.64,-25.32,0.75,-190.14,NaN,NaN
1498,3.45,3.95,390,1.74,20,31.16,-7.84,302.86,7.80,6.58,-19.38,-46.32,22.35,-19.14,-7.67,NaN
1499,15.36,4.13,81,-4.14,2,21.46,0.82,110.86,1.42,10.13,-23.84,-23.32,1.56,-196.14,-8.47,NaN

In [12]:
#test.fillna(data.mean(),inplace=True)
#test

In [13]:
b_test= test.iloc[:,-1]
b_test

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1495   NaN
1496   NaN
1497   NaN
1498   NaN
1499   NaN
Name: Class, Length: 1500, dtype: float64

In [14]:
#Obtaining feature values from F1 to F15
a_test=test.iloc[:,:-1]
#Replacing the missing values using mean of the existing value
a_test.fillna(test.mean(),inplace=True)
a_test

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15
0,3.54,0.45,600,2.16,20,33.86,-4.16,207.86,8.30,6.64,-17.68,-36.32,16.80,-49.14,-6.810000
1,12.96,4.50,6,-5.42,2,21.22,-0.66,115.86,1.95,10.19,-24.32,-21.32,0.06,-229.14,-7.100000
2,13.02,2.74,81,-7.08,2,21.28,1.40,111.86,2.05,11.30,-34.98,-21.32,0.42,-217.14,-7.050000
3,14.91,1.00,162,-8.30,2,21.12,-0.42,85.86,0.96,10.16,-24.68,-25.32,0.42,-202.14,-7.776347
4,2.61,1.46,1020,4.66,20,30.66,-0.46,122.86,7.20,7.04,-16.86,-26.32,20.25,-289.14,-7.776347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,18.93,1.34,72,-5.20,2,21.64,0.44,116.86,0.55,10.18,-26.50,-21.32,1.98,-232.14,-8.140000
1496,0.63,-0.51,225,5.38,20,31.26,-9.40,77.86,9.80,6.26,-15.06,-36.32,22.35,-244.14,-8.320000
1497,14.25,0.58,3,-3.74,2,21.28,0.78,78.86,0.33,10.96,-27.64,-25.32,0.75,-190.14,-7.776347
1498,3.45,3.95,390,1.74,20,31.16,-7.84,302.86,7.80,6.58,-19.38,-46.32,22.35,-19.14,-7.670000
1499,15.36,4.13,81,-4.14,2,21.46,0.82,110.86,1.42,10.13,-23.84,-23.32,1.56,-196.14,-8.470000

In [15]:
#Feature Scaling
sc = StandardScaler()
a_train = sc.fit_transform(a_train)
a_test = sc.transform(a_test)

In [16]:
#Creating a instance of Random Forest classifier
clf=RandomForestClassifier()
#Training the model using train data
clf.fit(a_train, b_train)

/var/folders/h0/w6hj9sb15vx6rtrk7b08cbw40000gn/T/ipykernel_55970/2055253032.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(a_train, b_train)

RandomForestClassifier()

In [17]:
#Predicting the output for a_test
rand_y_pred = clf.predict(a_test)

In [18]:
#Assigning the values of the predicted data
test['Class']=rand_y_pred

In [19]:
test

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,Class
0,3.54,0.45,600,2.16,20,33.86,-4.16,207.86,8.30,6.64,-17.68,-36.32,16.80,-49.14,-6.81,False
1,12.96,4.50,6,-5.42,2,21.22,-0.66,115.86,1.95,10.19,-24.32,-21.32,0.06,-229.14,-7.10,False
2,13.02,2.74,81,-7.08,2,21.28,1.40,111.86,2.05,11.30,-34.98,-21.32,0.42,-217.14,-7.05,False
3,14.91,1.00,162,-8.30,2,21.12,-0.42,85.86,0.96,10.16,-24.68,-25.32,0.42,-202.14,NaN,False
4,2.61,1.46,1020,4.66,20,30.66,-0.46,122.86,7.20,7.04,-16.86,-26.32,20.25,-289.14,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,18.93,1.34,72,-5.20,2,21.64,0.44,116.86,0.55,10.18,-26.50,-21.32,1.98,-232.14,-8.14,True
1496,0.63,-0.51,225,5.38,20,31.26,-9.40,77.86,9.80,6.26,-15.06,-36.32,22.35,-244.14,-8.32,True
1497,14.25,0.58,3,-3.74,2,21.28,0.78,78.86,0.33,10.96,-27.64,-25.32,0.75,-190.14,NaN,True
1498,3.45,3.95,390,1.74,20,31.16,-7.84,302.86,7.80,6.58,-19.38,-46.32,22.35,-19.14,-7.67,False
1499,15.36,4.13,81,-4.14,2,21.46,0.82,110.86,1.42,10.13,-23.84,-23.32,1.56,-196.14,-8.47,True

In [20]:
#Storing the data to the csv file
test.to_csv('CE802_P2_Test.csv')

In [21]:
test

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,Class
0,3.54,0.45,600,2.16,20,33.86,-4.16,207.86,8.30,6.64,-17.68,-36.32,16.80,-49.14,-6.81,False
1,12.96,4.50,6,-5.42,2,21.22,-0.66,115.86,1.95,10.19,-24.32,-21.32,0.06,-229.14,-7.10,False
2,13.02,2.74,81,-7.08,2,21.28,1.40,111.86,2.05,11.30,-34.98,-21.32,0.42,-217.14,-7.05,False
3,14.91,1.00,162,-8.30,2,21.12,-0.42,85.86,0.96,10.16,-24.68,-25.32,0.42,-202.14,NaN,False
4,2.61,1.46,1020,4.66,20,30.66,-0.46,122.86,7.20,7.04,-16.86,-26.32,20.25,-289.14,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,18.93,1.34,72,-5.20,2,21.64,0.44,116.86,0.55,10.18,-26.50,-21.32,1.98,-232.14,-8.14,True
1496,0.63,-0.51,225,5.38,20,31.26,-9.40,77.86,9.80,6.26,-15.06,-36.32,22.35,-244.14,-8.32,True
1497,14.25,0.58,3,-3.74,2,21.28,0.78,78.86,0.33,10.96,-27.64,-25.32,0.75,-190.14,NaN,True
1498,3.45,3.95,390,1.74,20,31.16,-7.84,302.86,7.80,6.58,-19.38,-46.32,22.35,-19.14,-7.67,False
1499,15.36,4.13,81,-4.14,2,21.46,0.82,110.86,1.42,10.13,-23.84,-23.32,1.56,-196.14,-8.47,True